.container {
    width: auto;
    padding: 0 1rem;
}

.cards {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .125rem solid #f1f3f6;
    border-radius: .25rem;
    padding: 1rem;
}

.card:hover {
    background: linear-gradient(140deg, rgb(255, 255, 255) 0%, rgb(238, 245, 252) 67%, rgb(204, 222, 255) 100%);
}